body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    color: #007bff;
}

#hero{
    font-size: 1.5rem;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.cta-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}
.cta-btn:hover{
    background-color: #0056b3;
}

#alfabeto, #sobre, #contato{
    padding: 20px;
    text-align: center;
}

.alfabeto-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.letra{
    margin: 10px;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}
.letra:hover{
    background-color: #0056b3;
}

.img-exibida{
    position: relative;
    width: 360px;
    height: 400px;
    margin: 20px auto;
    text-align: center;
    aspect-ratio: 3 / 2; 
    overflow: hidden;
}

.img-exibida img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.5s ease-in;
}


#sobre{
    font-size: 1.5rem;
    background-color: #ccc;
}

.contato{
    font-size: 1.5rem;
    background-color: #938989;
}

.contato form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato input{
    font-size: 18px;
    width: 150px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contact textarea{
    width: 300px;
    height: 400px;
    border-radius: 5px;
}

.btn{
    text-align: center;
    margin-top: 10px;
}

.btn button{
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn button:hover{
    background-color: #0056b3;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
 #alfabeto{
    padding: 1rem;
    text-align: center;
 }
 .alfabeto-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
 }
 .alfabeto-container{
    flex: 1;
    overflow-y: auto;
    max-height: 35vh;
    padding-right: 1rem;
    box-sizing: border-box;
 }
 .letra{
    font-size: 16px;
    padding: 18px;
 }
 .img-exibida{
    flex: 1;
    max-width: 100%;
    margin-top: 1rem;
 }
 .img-exibida img{
    width: 100%;
    height: auto;
    object-fit: cover;
 }
}
