body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #f4f4f4, #e0e0e01e);
}

header{
    font-size: 1.5rem;
    background: linear-gradient(135deg, #000, #444);
    color: #fff;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline;
    margin: 0 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #007bff;
}

#hero{
    font-size: 1.5rem;
    background: linear-gradient(135deg, #007bff, #0057b33b);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cta-btn{
    display: inline-block;
    padding: 15px 30px;
    background-color: #fff;
    color: #007bff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cta-btn:hover{
    background-color: #f1f1f1;
    color: #0056b3;
}

#alfabeto, #sobre, #contato{
    padding: 20px;
    text-align: center;
}

#alfabeto .texto{
    font-size: 1.5rem;
}

.alfabeto-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.letra{
    margin: 10px;
    padding: 20px;
    background: linear-gradient(135deg, #007bff, #0057b33b);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
}
.letra:hover{
    background: linear-gradient(135deg, #0056b3, #003d7a1f);
    transform: translateY(-3px);
}

.img-exibida{
    position: relative;
    width: 360px;
    height: 100%;
    margin: 20px auto;
    text-align: center;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.356);
}

.img-exibida img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.5s ease-in;
}


#palavra {
    padding: 20px;
}

#palavra h2{
    font-size: 1.8rem;

}

#input-palavra {
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
}

#mostrar-img {
    margin: 10px 0;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.img-palavra img {
    width: 60px;
    height: 60px;
    margin: 5px;
}




#sobre{
    font-size: 1.5rem;
    background: linear-gradient(135deg, #ccc, #aaaaaa13);
    color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contato{
    font-size: 1.5rem;
    background: linear-gradient(135deg, #938989, #6e6e6e15);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contato form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato input, .contato textarea {
    font-size: 18px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn{
    text-align: center;
    margin-top: 10px;
}

.btn button{
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(135deg, #007bff, #0057b33b);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
}

.btn button:hover{
    background: linear-gradient(135deg, #0056b3, #003d7a1f);
    transform: translateY(-3px);
}

footer{
    background: linear-gradient(135deg, #000, #333);
    color: #fff;
    text-align: center;
    padding: 15px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    nav ul li{
        font-size: 1rem;
        margin: 0;
    }
    #alfabeto{
        padding: 1rem;
        text-align: center;
    }
    .alfabeto-content{
        display: flex;
        flex-direction: column;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .alfabeto-container{
        flex: 1;
        overflow-y: auto;
        max-height: 35vh;
        padding-right: 1rem;
        box-sizing: border-box;
    }
    .letra{
        font-size: 16px;
        padding: 18px;
    }
    .img-exibida{
        flex: 1;
        max-width: 100%;
        margin-top: 1rem;
    }
    .img-exibida img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
